In [9]:
value = input("Enter a number ")
value = int(value)
print(type(value))
if(value>60):
    x=value//100
    value=value%100
    y=value//10
    z=value%10
    print(f"The no. on 0 index is {x}, The no. on 1st index is {y}, The number on 2nd index is {z}")
else:
    print("Less than 60")

Enter a number 453
<class 'int'>
The no. on 0 index is 4, The no. on 1st index is 5, The number on 2nd index is 3

In [10]:
for num in range(5,10,2):
    print(num)

5
7
9

In [11]:
for i in "Python":
    print(i)

P
y
t
h
o
n

In [12]:
for outerValue in range(0,3):
    
    for innerValue in range(0,3):
        print(outerValue, innerValue)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [14]:
for i in range(1,6):
    for j in range(1, i+1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [31]:
x=1
for i in range(1,6):
    for j in range (1, i+1):
        print(x, end=' ')
        x+=1
    print('')

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [32]:
#list
mylist=[10,20,20,'abc']
mylist

[10, 20, 20, 'abc']

In [33]:
for i in mylist:
    print(i)

10
20
20
abc

In [34]:
#to add element in the last

mylist.append(90)
mylist

[10, 20, 20, 'abc', 90]

In [36]:
#to add mutiple elements
mylist.extend([80,100,'oops'])
mylist

[10, 20, 20, 'abc', 90, 80, 100, 'oops']

In [37]:
#insert at any position
mylist.insert(1,"Insert")
mylist

[10, 'Insert', 20, 20, 'abc', 90, 80, 100, 'oops']

In [38]:
mylist.pop()
mylist

[10, 'Insert', 20, 20, 'abc', 90, 80, 100]

In [39]:
mylist.remove(90)

In [40]:
mylist

[10, 'Insert', 20, 20, 'abc', 80, 100]

In [41]:
x=1,2
type(x)

tuple

In [42]:
#tuple is the only element that needs atleast two tuples

In [44]:
#dictionary
mydictionary={"name":"Jk","age":21, 99:"Pune"}

In [45]:
#cannot find data using indexes
mydictionary[0]

KeyError: 0

In [46]:
mydictionary['name']

'Jk'

In [48]:
for key in mydictionary:
    print(key, mydictionary)

name {'name': 'Jk', 'age': 21, 99: 'Pune'}
age {'name': 'Jk', 'age': 21, 99: 'Pune'}
99 {'name': 'Jk', 'age': 21, 99: 'Pune'}

In [49]:
#eleiminates the repeated data
myset={10,20,30,40, 40}
myset

{10, 20, 30, 40}

In [50]:
myset.add(1000)

In [52]:
myset.update("deloitte")
myset

{10, 1000, 20, 30, 40, 'd', 'e', 'i', 'l', 'o', 't'}

In [53]:
myset.remove('t')
myset

{10, 1000, 20, 30, 40, 'd', 'e', 'i', 'l', 'o'}

In [66]:
password = input("Enter Password ")
digits='0123456789'
sym = "$@"
if len(password)>10:   
    for i in password:
        if(i in sym):
            count_sym+=1
        if(i.isupper()):
            count_lower+=1
        if(i.islower()):
            count_upper+=1
        if(i in digits):
            count_digit+=1
if (count_sym>=1 and count_lower>=1 and count_upper>=1 and count_digit>=1):
    f=open('data.txt','w')
    f.write(str(password))
else:
    print("Invalid Password")

Enter Password asdfhlohbg3@

In [73]:
def lcm(x,y):
    if(x>y):
        greater=x
    else:
        greater=y
    while(True):
        if((greater%x==0) and (greater%y==0)):
            final=greater
            break
        greater +=1
    return final
        
n1 = int(input("Enter no. "))
n2 = int(input("Enter no. "))
f=lcm(n1,n2)
print(f)

Enter no. 3
Enter no. 4
12

In [74]:
def Multiple(a,b):
    print(a*b)
    
abhi=Multiple
abhi()

TypeError: Multiple() missing 2 required positional arguments: 'a' and 'b'

In [1]:
class Employee:
    def __init__(self,iD,first_name,last_name,email,salary,percent):
        self.iD = iD
        self.first_name = first_name
        self.last_name=last_name
        self.email=email
        self.salary=salary
        self.percent=percent

employee=Employee("1","Jasleen","Kaur","jk@gmail.com",100000,8)

class Printt(Employee):
    def v():
        print(employee.iD)
        print(f"Hello Mr,/Ms. ",employee.first_name)
name=Printt()
name.v()

TypeError: __init__() missing 6 required positional arguments: 'iD', 'first_name', 'last_name', 'email', 'salary', and 'percent'